@import "bourbon"
@import "vars"

html
	font-size: 16px

body
	color: #3a3a3a
	background: #d1d1d1
	font-size: 16px
	line-height: 1.5
	padding: 0
	margin: 0
	font-family: 'PT Sans', sans-serif

a
	background-color: transparent;
	text-decoration: none
	line-height: inherit
	cursor: pointer
	&:hover
		text-decoration: none

ol, ul
	list-style-type: none

h1, h2, h3, h4, h5, h6
	font:
		family: 'PT Sans', sans-serif
		weight: normal
		style: normal
	line-height: rem(30)
	color: $title-color

h2
	font-weight: bold
	font-size: rem(32)

h3
	font-weight: bold
	font-size: rem(26)

h4
	font-weight: bold
	font-size: rem(21)
	color: #3a3a3a

img
	width: 100%



.mdshadow
	box-shadow: $mdshadow

.section-margin-top
	margin-top: -250px
	position: relative

.section
	position: relative
	padding: 60px 0

	.section-title
		margin-bottom: 60px

.section-white
	background: #f6f9fe

.section-grey
	background: #EAECF3








.list-inline
	> li
		display: inline-block

.menu
	display: block
	margin: 0
	padding: 0
	list-style-type: none
	.active
		> a
				color: $menu-color
				background: $menu-color-active
	> li
			display: block
			position: relative
			float: left
			margin: 0
			padding: 0
			> a
					display: block
					line-height: 30px
					font-size: 20px
					padding: 1rem 3rem
					color: #fff
					&:hover
						color: $menu-color
						background: $menu-color-active
