@import "bourbon"

/*
 * FONTS
 */
$base-font-size: 16px
$base-font-family: 'PT Sans', sans-serif
$base-font-weight: normal

/*
 * Главные цвета
 */
$main-color: #2870c2
$bacground-color: #d1d1d1

/*
 * Цвета текста и Заголовков
 */
$text-color: #212121
$title-color: #113570

/*
 * Цвета Меню
 */
$menu-color: #fffefe
$menu-color-active: #2196f3

/*
 * Цвета Кнопок
 */
$button-color: #ef5350
$button-hover-color: #e57373



$property-bg: #eaecf3

/*
 * ТЕНЬ
 */
$mdshadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)



// =mt($time)
// 	transition: all $time ease