/* HEADER START */
.page-header
	background: #fff
	width: 100%
	z-index: 100
	transition: all 0.4s ease

	.top-panel
		padding: 10px 0

	.logo
		margin: 0

	.contact-info
		padding: 30px 0	0
		text-align: right
		li
			a
				color: #000
				font-size: rem(16)
				line-height: 18px
				margin-left: 35px

.sticky
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1000
	transition: all 0.4s ease

.main-navigation
	background: $main-color

	.lh-navigation
		display: block
		margin: 0
		padding: 0
		list-style-type: none
		li
			a
				color: $menu-color
				padding: 15px 35px
				font-size: rem(16)
				line-height: rem(30px)
				&:hover
					color: $menu-color
					background: $menu-color-active

		.active
			> a
					color: $menu-color
					background: $menu-color-active
			> li
					display: block
					position: relative
					float: left
					margin: 0
					padding: 0
					> a
							display: block
							line-height: 30px
							font-size: 20px
							padding: 1rem 3rem
							color: #fff
							&:hover
								color: $menu-color
								background: $menu-color-active