/* HEADER START */
.page-header
	background: #fff

	.logo
		margin: 0
		padding: 30px 0

	.contact-info

		.list-inline
			margin: 50px 0
			text-align: right

		li
			a
				color: #000
				font-size: rem(16)
				line-height: 18px
				margin-left: 35px

.main-navigation
	background: $main-color

	.lh-navigation
		display: block
		margin: 0
		padding: 0
		list-style-type: none
		li
			a
				color: $menu-color
				padding: 15px 35px
				font-size: rem(20)
				line-height: rem(30px)
				&:hover
					color: $menu-color
					background: $menu-color-active

		.active
			> a
					color: $menu-color
					background: $menu-color-active
			> li
					display: block
					position: relative
					float: left
					margin: 0
					padding: 0
					> a
							display: block
							line-height: 30px
							font-size: 20px
							padding: 1rem 3rem
							color: #fff
							&:hover
								color: $menu-color
								background: $menu-color-active