@import 'bourbon'
@import 'helpers/vars'

/* HEADER START */
.page-header
	background: #fff
	width: 100%
	z-index: 100
	transition: all 0.4s ease

	.top-panel
		padding: 10px 0

	.logo
		margin: 0

	.contact-info
		padding: 30px 0	0
		text-align: right
		li
			a
				color: #000
				font-size: rem(16)
				line-height: 18px
				margin-left: 35px

.sticky
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 1000
	transition: all 0.4s ease

.main-navigation
	background: $main-color
	height: 60px

	.head-navigation
		position: relative

		.mob-menu
			+position (absolute, 15px null null 15px)

	.lh-navigation
		margin: 0
		padding: 0
		outline: none
		border: 0
		background: none
		list-style-type: none
		*
			@extend .lh-navigation
		li
			position: relative
			display: inline-block
			float: left
			border-right: 1px solid rgba(255,255,255,0.15)
			text-align: left
			font-size: rem(16)
			line-height: rem(30px)
			white-space: nowrap
			a
				display: block
				padding: 15px 35px
				text-decoration: none
				color: $menu-color
				transition: background 0.4s, color 0.4s
				&:hover
					color: $menu-color
					background: $menu-color-active
			> div
				position: absolute
				z-index: 1000
				top: 100%
				left: -9999px
				background: $main-color
				box-shadow: 0 0 8px rgba(0,0,0,.3)
				opacity: 0
				transform: scale(0,0)
			&:hover > div
				left: 0
				opacity: 1
				width: 250px
				transform: scale(1,1)
			li
				display: block
				float: none
				white-space: normal
				border-top: 1px solid rgba(255,255,255,0.15)
		.active
			> a
					color: $menu-color
					background: $menu-color-active
			> li
					display: block
					position: relative
					float: left
					margin: 0
					padding: 0
					> a
							display: block
							line-height: 30px
							font-size: 20px
							padding: 1rem 3rem
							color: #fff
							&:hover
								color: $menu-color
								background: $menu-color-active

.hamburger-box
	position: relative
	display: inline-block
	width: 40px
	height: 24px

	.hamburger-inner
		background: #fff
		+position (absolute, 50% null null null)
		display: block
		margin-top: -2px
		width: 40px
		height: 4px
		border-radius: 4px
		&:before
			content: ''
			position: absolute
			display: block
			background: #fff
			top: -10px
			width: 40px
			height: 4px
			border-radius: 4px
		&:after
			content: ''
			position: absolute
			display: block
			background: #fff
			bottom: -10px
			width: 40px
			height: 4px
			border-radius: 4px

.mm-menu
	background: $main-color
	color: #fff
	text-align: center

	.navigation-mob
		.nav-item
			font-size: rem(21)
			line-height: rem(40px)
			text-transform: uppercase
			border-color: lighten($main-color, 5%)